 *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
 }
 body {
  background-color: #faf1e4;
  color: #3b2417;
}
  /* index page start  */


 /* div 1 start */

.div1{
    background-size: cover;
   display: flex;
   position: fixed;
    height: 70px;
    width: 100%;
    background-color: #3b2417;  
    color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    font-size: 13px;
    padding-top: 10px;
    z-index: 999;
}
 .h1 {
    margin-left: 20px;
 }
.header{
    display: flex;
    position: fixed;
     top: 15px;
      z-index: 9999;
}
.navbar{
    display: flex;
    position: fixed;
    right: 70px;
    top: 25px;
   gap: 25px;
    z-index: 9999;

   
}
  a{
  color: aliceblue;
 text-decoration: none;
 font-size: 15px;
}
 
  .header .navbar a:hover,
  .header .navbar a.active {
    color: #d2a679;
  }
   header nav a{
  position: relative;
  text-decoration: none;
  }

  header nav a::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: -8px; 
  width: 0;
  height: 2px;
  background-color: #d2a679;
  transition: 0.3s;
}

  header nav a:hover::after,
header nav a.active::after{
  width: 100%;
  }


 /* div 1 end  */
 /* div 2 Start  */
 .div2{
     background-image: linear-gradient(rgba(0,0,0,0.45), rgba(0,0,0,0.45)),
  url('https://images.unsplash.com/photo-1495474472287-4d71bcdd2085?w=1200');
  height: 500px;
  width: 100%;
   background-size: cover;
   padding-top: 250px;
    margin-bottom: 100px;
 }
 .p1{
    text-align: center;
    color: aliceblue;
     font-size: 18px;
    max-width: 500px;
     margin: 0 auto 25px;
    margin-top: 15px;
    margin-bottom: 40px;
 }
 .h2{
   font-size: 40px;
   color: aliceblue;
   text-align: center;
  
 }
 .btn{
    margin-left: 500px;
    margin-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 15px;
    border-radius: 5px;
    background-color: #d2a679;
    color: #3b2417;
    font-weight: bold;
    border: 1px solid #d2a679;
 }
 .btn:hover{
    background-color: aliceblue;
    cursor: pointer;
 }
  /* div 2 End  */
  .h3{
    color: #3b2417;
    font-size: 40px;
    margin-bottom: 30px;
    text-align: center;
  }
 .p2{
margin-left: 170px;
 margin-right: 170px;
 margin-bottom: 30px;
 font-size: 15px;
 line-height: 25px;
  }
  .p3{
    margin-left: 170px;
    margin-bottom: 50px;
  }
   /* div 3 start  */
   .div3{
      display: flex;
      height: 300px;
      width: 100%;
      background-size: cover;
      margin-bottom: 50px;
       background-size: cover;
   }
   .h4{
      margin-top: 120px;
      font-size: 35px;
      padding-left: 70px;
      margin-bottom: 13px;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 
   Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', 
   sans-serif;
}
   
   .p4{
      padding-right: 100px;
      padding-left: 70px;
      word-spacing: 2px;
      line-height: 1.6;
    }

   #cup{
      height: 500px;
      width:  400px;
      margin-right: 100px;
      margin-bottom: 100px;
       position: relative;
    z-index: 1;
   }
   #cup {
    animation: float 3s ease-in-out infinite;

 }

@keyframes float {
  0% {
        transform: translateY(3px);
  }

  50% {
        transform: translateY(-10px);
  }
  100% {
       transform: translateY(3px);
  }
}
   #cup:hover{
      transform: translateY(10px);
      transition: all 0.4s ease-in-out;
   }
   
    /* div 3 end  */
    /* div 4 start  */
  .div4{
   height: 500px;
   width: 100%;
   margin-top: 100px;
   margin-top: 200px;
   background-color:  #3b2417;
   border-radius: 5px;
   padding-top: 30px;
    background-size: cover;
  }
  #h5{
   margin-left: 400px;
   margin-bottom: 50px;
   font-size: 30px;
   color: #f5d4a6;
   letter-spacing: 3px;
  }
  .h5{
   text-align: center;
   margin-top: 20px;
   margin-bottom: 30px;
   margin-right: 30px;
   font-size: 20px;
  }
  #childidiv {
   display: flex;
  }
  .childidv2{
   height: 350px;
   width: 600px;
   background-color: #edd6b5;
   margin-bottom: 50px;
   border: 10px solid #f6ce93;
   margin-left: 50px;
   box-shadow: 2px 2px 20px #f5d4a6;
  }
  .childidv2:hover{
   transform: scale(1.1);
   transition: 0.3s ease-in-out;
  }
  #sarah{
   height: 70px;
   border-radius: 50%;
   width: 70px;
  margin-left: 100px;
  margin-top: 30px;
  }
  .p5{
   padding-left: 50px;
   padding-right: 40px;
  }
  .childidv3{
     height: 350px;
   width: 600px;
   background-color: #edd6b5;
   margin-bottom: 50px;
   border: 10px solid #f6ce93;
   margin-left: 50px;
   box-shadow: 2px 2px 20px #f5d4a6;
  }
  .childidv3:hover{
    transform: scale(1.1);
   transition: 0.3s ease-in-out;
  }
  .h6{
     text-align: center;
   margin-top: 20px;
   margin-bottom: 30px;
   margin-right: 30px;
   font-size: 20px;
  }
  .p6{
   padding-left: 50px;
   padding-right: 40px;
  }
  #james{
   height: 70px;
   border-radius: 50%;
   width: 70px;
  margin-left: 100px;
  margin-top: 30px;
  }
  .childidv4{
     height: 350px;
   width: 600px;
   background-color: #edd6b5;
   margin-bottom: 50px;
   border: 10px solid #f6ce93;
   margin-left: 50px;
   box-shadow: 2px 2px 20px #f5d4a6;
   margin-right: 30px;
  }
  .childidv4:hover{
   transform: scale(1.1);
   transition: 0.3s ease-in-out;
  }
  .h7{
    text-align: center;
   margin-top: 20px;
   margin-bottom: 30px;
   margin-right: 30px;
   font-size: 20px;
  }
  .p7{
     padding-left: 50px;
   padding-right: 40px;
  }
  #sophia{
    height: 70px;
   border-radius: 50%;
   width: 70px;
  margin-left: 100px;
  margin-top: 30px;
  }
    /* div 4 end  */
   /* div 5 start  */
   .div5{
  background-image: linear-gradient(rgba(0,0,0,0.45), rgba(0,0,0,0.45)),
    url(images/cofeee.webp);
     height: 350px;
  width: 100%;
   background-size: cover;
   margin-top: 20px;
    margin-bottom: 15px;
 }

 .h8{
   padding-top: 140px;
   color: white;
   margin-left: 350px;
   margin-right: 130px;
   font-size: 40px;
 }
  .p8{
   color: aliceblue;
    margin-left: 400px;
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 18px;
  }
  /* div 5 end  */
  /* div 6 start  */
  .h9{
   text-align: center;
   margin-bottom: 30px;
   padding-top: 20px;
   font-size: 40px;
   letter-spacing: 2px;
  }
  .div6{
   height: 550px;
   margin-bottom: 10px;
   width: 100%;
   background-color: #fad9aa;
   border-radius: 5px;
    background-size: cover;
  }
  #child3{
   display: flex;
   margin-bottom: 15px;
   margin-left: 150px;
   margin-right: 50px;
    gap: 20px;
  }
  .child4{
   display: flex;
   margin-left: 150px;
    margin-right: 50px;
    gap: 20px;
  }
  #img1{
  height: 200px;
  width: 200px;
  border: 9px solid #eec498;
  box-shadow: 0px 0px 20px #ea9035;
  
  }
  #img1:hover{
   transform: scale(1.1);
   transition:  all 0.4s ease-in;
    box-shadow: 2px 2px 20px #ea9035;
   
  }
   #img2{
   height: 200px;
  width: 200px;
   border: 9px solid #eec498;
   box-shadow: 0px 0px 10px #ea9035;
  }
   #img2:hover{
   transform: scale(1.1);
   transition:  all 0.4s ease-in;
    box-shadow: 2px 2px 15px #ea9035;
   }
  #img7{
   height: 200px;
  width: 200px;
   border: 9px solid #eec498;
   box-shadow: 0px 0px 10px #ea9035;
  }
   #img7:hover{
   transform: scale(1.1);
   transition:  all 0.4s ease-in;
    box-shadow: 2px 2px 15px #ea9035;
   }
  #img8{
 height: 200px;
  width: 200px;
   border: 9px solid #eec498;
    box-shadow: 0px 0px 10px #ea9035;
  }
   #img8:hover{
   transform: scale(1.1);
   transition:  all 0.4s ease-in;
    box-shadow: 2px 2px 15px #ea9035;
   }
 #img3{
  height: 200px;
  width: 200px;
   border: 9px solid #eec498;
   box-shadow: 0px 0px 10px #ea9035;
  }
   #img3:hover{
   transform: scale(1.1);
   transition:  all 0.4s ease-in;
    box-shadow: 2px 2px 15px #ea9035;
   }
  
 #img4{
  height: 200px;
  width: 200px;
   border: 9px solid #eec498;
   box-shadow: 0px 0px 10px #ea9035;
  }
 #img4:hover{
   transform: scale(1.1);
   transition:  all 0.4s ease-in;
    box-shadow: 2px 2px 15px #ea9035;
 }
  
 #img5{
  height: 200px;
  width: 200px;
   border: 9px solid #eec498;
  box-shadow: 0px 0px 10px #ea9035;
  }
   #img5:hover{
   transform: scale(1.1);
   transition:  all 0.4s ease-in;
    box-shadow: 2px 2px 15px #ea9035;
   }
 #img6{
 height: 200px;
  width: 200px;
   border: 9px solid #eec498;
  box-shadow: 0px 0px 10px #ea9035;
  }
   #img6:hover{
   transform: scale(1.1);
   transition:  all 0.4s ease-in;
    box-shadow: 2px 2px 15px #ea9035;
   }
  
  /* div 6 end  */
   /* div 7 start  */
   .div7{
      height: 400px;
      width: 100%;
      background-color: #3b2417;
      color: white;
      padding-top: 40px;
      margin-bottom: 10px;
      background-size: cover;
   }
   .child5{
      display: flex;
      margin-bottom: 30px;
   }
   .child6{
      display: flex;
   }
 .h10{
   text-align: left;
   margin-left: 100px;
   font-size: 24px;
   margin-top: 50px;
 }
 
 .h11{
     text-align: left;
   margin-left: 250px;
   font-size: 20px;
   margin-top: 50px;
   letter-spacing: 2px;
 }
 .h12{
     text-align: left;
   margin-left: 250px;
   font-size: 20px;
   margin-top: 50px;
   letter-spacing: 2px;
 }
 .p12{
   margin-right: 200px;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 2px;
 }
 .p9{
   margin-right: 50px;
    margin-left: 100px;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 2px;
 }
 .p10{
    margin-right: 50px;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 2px;
 }
 .p11{
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 2px;
    margin-left: 480px;
    margin-top: 40px;
    text-decoration: underline #d2a679;
 }
 .p13{
   text-align: center;
   margin-top: 100px;
 }

  /* index page end  */
  /* About page start  */

  /* div 8 start  */
  .div8{
     background-image: linear-gradient(rgba(0,0,0,0.45), rgba(0,0,0,0.45)),
    url('https://images.unsplash.com/photo-1442512595331-e89e73853f31?w=1200');
    height: 400px;
    width: 100%;
    background-size: cover;
    padding-top: 150px;
  }
 #h13{
  padding-top: 100px;
  color:white;
   padding-top: 20px;
   text-align: center;
   letter-spacing: 2px;
   font-size: 30px;
 }
 #p14{
  color:white;
    margin-left: 200px;
   padding-top: 30px;
   font-size: 15px;
   letter-spacing: 3px;
   padding-right: 100px;
   margin-bottom: 30px;
 }

 /* div 8 end  */
    /* setion 9 start  */
  #h14{
  padding-left: 470px;
   margin-top: 20px;
   font-size: 35px;
   letter-spacing: 2px;
  }
  #p15{
   margin-top: 40px;
   margin-left: 130px;
   line-height: 28px;
   margin-right: 150px;
   margin-bottom: 20px;
  }
  #p16{
    margin-top: 40px;
   margin-left: 130px;
   line-height: 28px;
   margin-right: 150px;
   margin-bottom: 20px;
  }
  #p17{
   margin-left: 130px;
   margin-bottom: 100px;
  }
   .btn{
    margin-left: 500px;
    margin-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 15px;
    border-radius: 5px;
    background-color: #d2a679;
    color: #3b2417;
    font-weight: bold;
    border: 1px solid #d2a679;
 }
  .btn:hover{
    background-color: aliceblue;
    cursor: pointer;
    box-shadow: 0px 0px 9px white;
 }
 .shop1{
  height: 400px;
  width:  350px;
   border: 9px solid #E0E0E0;
  box-shadow: 0 8px 24px rgba(51, 34, 17, 0.08);
 }
 .shop2{
   height: 400px;
  width:  350px;
   border: 9px solid #E0E0E0;
 box-shadow: 0 8px 24px rgba(51, 34, 17, 0.08);
 }
 .shop3{
   height: 400px;
  width:  350px;
   border: 9px solid #E0E0E0;
  box-shadow: 0 8px 24px rgba(51, 34, 17, 0.08);
 }
   
 .child8{
  display: flex;
  margin-bottom: 20px;
  padding-top: 40px;
  padding-left: 40px;
   gap: 5px;
   height: 430px;
   width: 100%;
 }
 .h15{
  padding-left: 430px;
   margin-top: 20px;
   font-size: 35px;
   letter-spacing: 2px;
 }
 .h16{
  padding-left: 350px;
   margin-top: 20px;
   font-size: 15px;
   letter-spacing: 2px;
 }
  /* section 9 end  */

  /* Contact page start  */
    /* div 10 start  */
  .div10{
     background-image: linear-gradient(rgba(0,0,0,0.45), rgba(0,0,0,0.45)),
    url('https://images.unsplash.com/photo-1453614512568-c4024d13c247?w=1200');
     height: 400px;
      width: 100%;
    background-size: cover;
    padding-top: 170px;
  }
  .h17{
    color: white;
     padding-left: 450px;
   margin-top: 15px;
   font-size: 28px;
   letter-spacing: 2px;
  
  }
  .h18{
       color: #EAEAEA;
     padding-left: 300px;
     padding-right: 300px;
   margin-top: 20px;
   font-size: 15px;
   text-align: center;
   line-height: 23px;
  }
   /* div 10 end  */
   /* section 11 start  */
   .h19{
     padding-left: 450px;
   margin-top: 20px;
   font-size: 40px;
    margin-bottom: 30px;
    font-style: italic;
   
   }
   #p18{
     padding-left: 250px;
     font-style: italic;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 2px;
    margin-bottom: 100px;
     }
     .form{
      display: block;
     }
     label{
    margin-left: 400px;
    font-size: 13px;
    padding-bottom: 20px;
     padding-top: 20px;
     }
     #name{
      margin-left: 400px;
      padding-right: 250px;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 10px;
      margin-top: 10px;
      margin-bottom: 10px;
     }
     #email{
       margin-left: 400px;
      padding-right: 250px;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 10px;
      margin-top: 10px;
      margin-bottom: 10px;
     }
     #message{
       margin-left: 400px;
      padding-right: 250px;
      padding-top: 10px;
      padding-bottom: 70px;
      padding-left: 10px;
      margin-bottom: 10px;
      margin-top: 10px;
     }
     #btn{
      margin-top: 10px;
      margin-bottom: 50px;
      margin-left: 520px;
     }
  /* section 11 end  */

   /* contact page end  */
   /* Menu page start  */

   /* div 12 start  */
   .div12{
      background-image: linear-gradient(rgba(0,0,0,0.45), rgba(0,0,0,0.45)),
    url(images/bg\ img.jpg);
    height: 400px;
      width: 100%;
    background-size: cover;
    padding-top: 170px;
      position: relative;
    text-align: center;
   }
   .div12::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
}
   .h20{
     position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 3rem;
    font-weight: bold;
    padding-left: 100px;
    padding-right: 100px;
   }
   .p19{
      color: #f1f1f1;
       font-style: oblique;
     padding-left: 300px;
     padding-right: 300px;
     padding-top: 100px;
   margin-top: 20px;
   font-size: 15px;
   letter-spacing: 2px;
   text-align: center;
   }
   span{
    color: #eec498;
   }