 *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
 }
 body {
  background-color: #fdf6ec;
  color: #3b2417;
}
 /* div 1 start */

.div1{
    background-size: cover;
   display: flex;
   position: fixed;
    height: 70px;
    width: 100%;
    background-color: #3b2417;  
    color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    font-size: 13px;
    padding-top: 10px;
}
 .h1 {
    margin-left: 20px;
 }
.header{
    display: flex;
    position: fixed;
}
.navbar{
    display: flex;
    position: fixed;
    right: 70px;
    top: 20px;
   gap: 25px;
   
}
  a{
  color: aliceblue;
 text-decoration: none;
 font-size: 15px;
}
 a:hover {
    color:#d2a679 ;
 }

 /* div 1 end  */
 /* div 2 Start  */
 .div2{
     background-image: linear-gradient(rgba(0,0,0,0.45), rgba(0,0,0,0.45)),
  url('https://images.unsplash.com/photo-1495474472287-4d71bcdd2085?w=1200');
  height: 450px;
  width: 100%;
   background-size: cover;
   padding-top: 200px;
    margin-bottom: 15px;
 }
 .p1{
    text-align: center;
    color: aliceblue;
     font-size: 18px;
    max-width: 500px;
     margin: 0 auto 25px;
 }
 .h2{
   font-size: 40px;
   color: aliceblue;
   text-align: center;
  margin-bottom: 15px;
 }
 .btn{
    margin-left: 520px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 15px;
    border-radius: 5px;
    background-color: #d2a679;
    color: #3b2417;
    font-weight: bold;
 }
 .btn:hover{
    background-color: aliceblue;
    cursor: pointer;
 }
  /* div 2 End  */
  .h3{
    color: #3b2417;
    font-size: 40px;
    margin-bottom: 30px;
    text-align: center;
  }
 .p2{
margin-left: 170px;
 margin-right: 170px;
 margin-bottom: 30px;
 font-size: 15px;
 line-height: 25px;
  }
  .p3{
    margin-left: 170px;
  }
  .h4{
    margin-left: 200px;
    margin-top: 150px;
    margin-bottom: 50px;
    font-size: 40px;
  }
  #str1{
   margin-left: 200px;
   margin-bottom: 50px;
   font-size: 20px;
  }
  #p3{
  margin-top: 20px;

  }
 