 *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
 }
 body {
  background-color: #faf1e4;
  color: #3b2417;
}
 /* div 1 start */

.div1{
    background-size: cover;
   display: flex;
   position: fixed;
    height: 70px;
    width: 100%;
    background-color: #3b2417;  
    color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    font-size: 13px;
    padding-top: 10px;
}
 .h1 {
    margin-left: 20px;
 }
.header{
    display: flex;
    position: fixed;
     top: 15px;
}
.navbar{
    display: flex;
    position: fixed;
    right: 70px;
    top: 25px;
   gap: 25px;

   
}
  a{
  color: aliceblue;
 text-decoration: none;
 font-size: 15px;
 /* margin-top: 8px; */
}
 a:hover {
    color:#d2a679 ;
 }

 /* div 1 end  */
 /* div 2 Start  */
 .div2{
     background-image: linear-gradient(rgba(0,0,0,0.45), rgba(0,0,0,0.45)),
  url('https://images.unsplash.com/photo-1495474472287-4d71bcdd2085?w=1200');
  height: 500px;
  width: 100%;
   background-size: cover;
   padding-top: 250px;
    margin-bottom: 15px;
 }
 .p1{
    text-align: center;
    color: aliceblue;
     font-size: 18px;
    max-width: 500px;
     margin: 0 auto 25px;
    margin-top: 15px;
 }
 .h2{
   font-size: 40px;
   color: aliceblue;
   text-align: center;
  
 }
 .btn{
    margin-left: 520px;
    margin-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 15px;
    border-radius: 5px;
    background-color: #d2a679;
    color: #3b2417;
    font-weight: bold;
    border: 1px solid #d2a679;
 }
 .btn:hover{
    background-color: aliceblue;
    cursor: pointer;
 }
  /* div 2 End  */
  .h3{
    color: #3b2417;
    font-size: 40px;
    margin-bottom: 30px;
    text-align: center;
  }
 .p2{
margin-left: 170px;
 margin-right: 170px;
 margin-bottom: 30px;
 font-size: 15px;
 line-height: 25px;
  }
  .p3{
    margin-left: 170px;
    margin-bottom: 50px;
  }
   /* div 3 start  */
   .div3{
      display: flex;
      height: 300px;
      width: 100%;
      background-size: cover;
      margin-bottom: 200px;
   }
   .h4{
      margin-top: 100px;
      font-size: 35px;
      padding-left: 70px;
      margin-bottom: 13px;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 
   Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', 
   sans-serif;
}
   
   .p4{
      padding-right: 100px;
      padding-left: 70px;
      word-spacing: 2px;
      line-height: 1.6;
   }

   #cup{
      height: 500px;
      width:  400px;
      margin-right: 100px;
      margin-bottom: 100px;
   }
    .child{
     position: fixed;
     right: 200px;
    }
    /* div 3 end  */
    /* div 4 start  */
  .div4{
   height: 200px;
   width: 100%;
   margin-top: 100px;
  }
  #h5{
   margin-left: 400px;
   margin-bottom: 50px;
   font-size: 40px;
  }
  .h5{
   text-align: center;
   margin-top: 20px;
   margin-bottom: 30px;
   margin-right: 30px;
   font-size: 20px;
  }
  #childidiv {
   display: flex;
  }
  .childidv2{
   height: 350px;
   width: 600px;
   background-color: white;
   margin-bottom: 50px;
   border: 8px solid #fdf6ec;
   margin-left: 50px;
   box-shadow: 2px 2px 20px #f0e5d6;
  }
  .childidv2:hover{
   transform: scale(1.1);
   transition: 0.3s ease-in-out;
  }
  #sarah{
   height: 70px;
   border-radius: 50%;
   width: 70px;
  margin-left: 100px;
  margin-top: 30px;
  }
  .p5{
   padding-left: 50px;
   padding-right: 40px;
  }
  .childidv3{
     height: 350px;
   width: 600px;
   background-color: white;
   margin-bottom: 50px;
   border: 8px solid #fdf6ec;
   margin-left: 50px;
   box-shadow: 2px 2px 20px #f0e5d6;
  }
  .childidv3:hover{
    transform: scale(1.1);
   transition: 0.3s ease-in-out;
  }
  .h6{
     text-align: center;
   margin-top: 20px;
   margin-bottom: 30px;
   margin-right: 30px;
   font-size: 20px;
  }
  .p6{
   padding-left: 50px;
   padding-right: 40px;
  }
  #james{
   height: 70px;
   border-radius: 50%;
   width: 70px;
  margin-left: 100px;
  margin-top: 30px;
  }
  .childidv4{
     height: 350px;
   width: 600px;
   background-color: white;
   margin-bottom: 50px;
   border: 8px solid #fdf6ec;
   margin-left: 50px;
   box-shadow: 2px 2px 20px #f0e5d6;
   margin-right: 30px;
  }
  .childidv4:hover{
   transform: scale(1.1);
   transition: 0.3s ease-in-out;
  }
  .h7{
    text-align: center;
   margin-top: 20px;
   margin-bottom: 30px;
   margin-right: 30px;
   font-size: 20px;
  }
  .p7{
     padding-left: 50px;
   padding-right: 40px;
  }
  #sophia{
    height: 70px;
   border-radius: 50%;
   width: 70px;
  margin-left: 100px;
  margin-top: 30px;
  }
    /* div 4 end  */
   /* div 5 start  */
